### Exercise 3.14: Building the Pipeline for an NLP Project

In this exercise, we will develop a pipeline that will allow us to create a TFIDF matrix representation from sklearn's fetch_20newsgroups text dataset.

In [1]:
from sklearn.pipeline import Pipeline

from sklearn.feature_extraction.text import TfidfTransformer

from sklearn import tree

from sklearn.datasets import fetch_20newsgroups

from sklearn.feature_extraction.text import CountVectorizer

import pandas as pd

In [2]:
# categories of news articles to fetch.
categories = ['misc.forsale', 'sci.electronics', 'talk.religion.misc']

In [3]:
# fetch data set corresponding to categories above.
news_data = fetch_20newsgroups(subset='train', \
                               categories=categories, \
                               shuffle=True, random_state=42, \
                               download_if_missing=True)

Define a pipeline consisting of two stages: CountVectorizer and TfidfTransformer. Fit it on the news_data we mentioned earlier and use it to transform that data.

In [4]:
text_classifier_pipeline = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer())]) # pipeline instantiation and definition.

text_classifier_pipeline.fit(news_data.data, news_data.target) # train pipeline

pd.DataFrame(text_classifier_pipeline.fit_transform(news_data.data, news_data.target).todense()).head()

,0,1,2,3,4,5,6,7,8,9,...,26016,26017,26018,26019,26020,26021,26022,26023,26024,26025
0,0.165523,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.081279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Here, we created a pipeline consisting of the count vectorizer and TFIDF transformer. The outcome of this pipeline is the TFIDF representation of the text data that has been passed to it as an argument.